/* Defaults */
* {
	font: inherit;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

/* General */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body {
	background-color: #393939;
    background-color: #4D5745;
	color: #d2d2d2;

    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;

    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/*
   Main Counter
*/

/* Links (block) on home page*/
.main_counter {
	font-size: 48px;
	line-height: 38px;
    text-align: center;

	margin-top: 7vh;

	display: flex;
    flex-direction: column;
    
	justify-content: center;
	align-items: center;
}

/* Text on home page */
.countup__item {
	display: block;
    margin-left:10px;
    margin-right: 10px;
}

.countup__tls {
	font-size: 100px;
	line-height: 150px;
}

/*
   LOGS
*/

.main_incidents {
    margin-top: 7vh;
    text-align: center;
    margin-left:max(7%, 50px);
    margin-right:max(7%, 50px);
}

.recent_incidents_text {
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
}

.incidents_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.incident {
    margin: 5px;
    padding: 7px;
    /*text-align: center;*/
    background-color: #454545;
    background-color: #3F4637;
    border: #202020 solid 2px;
    border-radius: 10px;
    min-width: 23%;
    flex-grow:0;
    flex-shrink:1;
}

.incident h1 {
    font-size:25px;
    padding-bottom: 15px;
}

.incident p {
    padding: 1px;
}

.broken {
    background-color: #ff24245d;
}

.incident_time {
    font-size:medium;
}